@model Vidly.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movie"))
{
    @Html.ValidationSummary(true, "Please provide the mandatory details");
    <div class="form-group">
        @Html.LabelFor(m => m.strMovieName, "Customer Name")
        @Html.TextBoxFor(m => m.strMovieName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.strMovieName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate, "Release Date")
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:dd MMM yyyy}", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId, "Genre Lists")
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock, "Number In Stock")
        @Html.TextBoxFor(m => m.NumberInStock,  new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>
    
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">SAVE</button>
    <a href='@Url.Action("Index","Movie")' class="btn btn-primary">BACK</a>
}

